* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

body {
    margin: 0;
    padding: 0;
}

label::after {
    content: "\00a0";
}

.main {
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

canvas {
    display: inherit;
    margin: 0;
    padding: 0;
}

.topbar {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin: 5px;
    width: 100%;
}

.topbar>div {
    margin-right: 5px;
}

.bottombar {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin: 5px;
    width: 100%;
}

.bottombar>div {
    margin-right: 5px;
}

.topbar label {
    vertical-align: top;
}

.hmain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.vmain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 0;
}

input.range {
    width: 50px;
}

input.rangeedit {
    width: 2em;
}

input.invalid {
    color: white;
    background-color: crimson;
}

#error {
    position: fixed;
    top: 10px;
    left: 10px;
    max-height: 40vh;
    overflow: auto;
    color: crimson;
    background-color: white;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 7.5px;
}

#error:empty {
    display: none;
}
